# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence they
# will be requested for review when someone opens a pull request.
*                            @tektronix/tm-devices-admin

/docs/                       @tektronix/tm-devices-maintainers
/examples/                   @tektronix/tm-devices-maintainers
/src/                        @tektronix/tm-devices-maintainers
/tests/                      @tektronix/tm-devices-maintainers

# Protect the configuration files
.github/                     @tektronix/tm-devices-admin
