# Temporary files
temp*.*
tm_devices.toml
tm_devices.yaml
tm_devices.yml
*.log

# Poetry lock file
poetry.lock

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage*
.cache
coverage.xml
*.cover
*.py,cover
.pytest_cache/
.results*/
tests/samples/generated_stubs/*
tests/verify_devices.yaml
prof/

# Sphinx documentation
.docs*/
docs/_build/
docs/autoapi/
docs/_autoapi/
_readthedocs/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Environments
.env*/
.venv*/
env*/
venv*/
ENV*/
env.bak/
venv.bak/

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# ruff
.ruff_cache/

# Pyre type checker
.pyre/
**__pycache__

# PyCharm
.idea/

# VSCode
.vscode/
