---
default_install_hook_types: [pre-commit, commit-msg]
default_stages: [pre-commit]
ci:
  autofix_prs: false
  autoupdate_schedule: quarterly
  skip:
    - check-poetry
    - toml-sort
    - pylint
    - pyright
    - pyright-verifytypes
    - pyroma
    - poetry-audit
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
        args: [--unsafe]
      - id: check-toml
      - id: check-json
      - id: check-xml
# TODO: figure out why this hook is failing in a few environments
#      - id: file-contents-sorter
#        files: ^(docs/known_words.txt)$
#        args: [--unique, --ignore-case]
      - id: requirements-txt-fixer
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=3000, --enforce-all]
      - id: forbid-submodules
      - id: pretty-format-json
        args: [--autofix, --indent=4]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: remove-tabs
      - id: forbid-tabs
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.28.3
    hooks:
      - id: check-readthedocs
      - id: check-dependabot
      - id: check-github-actions
      - id: check-github-workflows
        args: [--verbose]
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.25.0
    hooks:
      - id: commitizen
        stages: [commit-msg]
  - repo: https://github.com/adamchainz/blacken-docs
    rev: 1.16.0
    hooks:
      - id: blacken-docs
        files: \.(rst|md|markdown|tex)$
        additional_dependencies: [black==23.12.1]  # This may need to be updated/removed in the future once ruff supports formatting python code blocks in markdown
        args: [--line-length=100]
  - repo: https://github.com/lyz-code/yamlfix
    rev: 1.16.0
    hooks:
      - id: yamlfix
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.17
    hooks:
      - id: mdformat
        args: [--number, --end-of-line, keep, --ignore-missing-references]
        additional_dependencies:
          - setuptools  # This is required since Python 3.12 no longer installs setuptools by default in virtual environments
          - mdformat-beautysh
          - mdformat-config
          - mdformat-footnote
          - mdformat-frontmatter
          - mdformat-gfm
          - mdformat-gfm-alerts
          - mdformat-mkdocs
          - mdformat-shfmt
          - mdformat-simple-breaks
          - mdformat-tables
          - mdformat-toc
          - mdformat-web
          - mdformat-wikilink
  - repo: https://gitlab.com/smop/pre-commit-hooks
    rev: v1.0.0
    hooks:
      - id: check-poetry
  - repo: local
    hooks:
      - id: toml-sort
        name: toml-sort
        entry: toml-sort
        language: system
        types: [toml]
        pass_filenames: true
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        pass_filenames: true
        args: [-sn]
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        pass_filenames: false
      - id: pyright-verifytypes
        name: pyright-verifytypes
        entry: pyright
        language: system
        types: [python]
        pass_filenames: false
        args: [--verifytypes, tm_devices, --ignoreexternal]
      - id: pyroma
        name: pyroma
        entry: pyroma
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
        args: [., --min=10]
      - id: poetry-audit
        name: poetry-audit
        entry: poetry
        language: system
        types: [toml]
        pass_filenames: false
        always_run: true
        args: [audit, --json, --ignore-code=CVE-2018-20225]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.4
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  - repo: https://github.com/PyCQA/docformatter
    rev: v1.7.5
    hooks:
      - id: docformatter
        additional_dependencies: [tomli]
