---
default_install_hook_types: [pre-commit, commit-msg]
default_stages: [pre-commit]
ci:
  autofix_prs: false
  autoupdate_schedule: quarterly
  skip:
    - pylint
    - pyright
    - pyright-verifytypes
    - pyroma
    - poetry-lock
    - poetry-audit
    - poetry-check
    - check-tm-devices-schema-file
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c  # frozen: v6.0.0
    hooks:
      - id: check-yaml
        args: [--unsafe]
      - id: check-toml
      - id: check-json
      - id: check-xml
      - id: file-contents-sorter
        files: ^(docs/known_words.txt)$
        args: [--unique]
      - id: requirements-txt-fixer
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=3000, --enforce-all]
      - id: forbid-submodules
      - id: pretty-format-json
        args: [--autofix, --indent=4]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: a30f0d816e5062a67d87c8de753cfe499672b959  # frozen: v1.5.5
    hooks:
      - id: remove-tabs
      - id: forbid-tabs
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 83987cd6ad8943c7f029b500b14aaf82c00a01fa  # frozen: 0.34.0
    hooks:
      - id: check-readthedocs
      - id: check-dependabot
      - id: check-github-actions
      - id: check-github-workflows
        args: [--verbose]
  - repo: https://github.com/Mateusz-Grzelinski/actionlint-py
    rev: f999ae59ac949d9b57aaa5569c2d60eb846b3a00  # frozen: v1.7.7.24
    hooks:
      - id: actionlint
        additional_dependencies: [pyflakes, shellcheck-py]
  - repo: https://github.com/commitizen-tools/commitizen
    rev: cc981fcb065527b6de0033b0cbf0432e69781901  # frozen: v4.9.1
    hooks:
      - id: commitizen
        stages: [commit-msg]
  - repo: https://github.com/lyz-code/yamlfix
    rev: 881308160e4589cf886919438a3ed0acba42ea0e  # frozen: 1.18.0
    hooks:
      - id: yamlfix
  - repo: https://github.com/thibaudcolas/curlylint
    rev: 71adf4d34c290684fd9f94a4d21ac55bcfe640f0  # frozen: v0.13.1
    hooks:
      - id: curlylint
  - repo: https://github.com/executablebooks/mdformat
    rev: ff29be1a1ba8029d9375882aa2c812b62112a593  # frozen: 0.7.22
    hooks:
      - id: mdformat
        args: [--number, --end-of-line, keep, --ignore-missing-references]
        additional_dependencies:
          - setuptools==80.9.0  # This is required since Python 3.12 no longer installs setuptools by default in virtual environments
          - mdformat-black  # This may need to be updated/removed in the future once ruff supports formatting python code blocks in markdown
          - mdformat-beautysh
          - mdformat-config
          - mdformat-footnote
          - mdformat-frontmatter
          - mdformat-gfm
          - mdformat-gfm-alerts
          - mdformat-mkdocs
          - mdformat-shfmt
          - mdformat-simple-breaks
          - mdformat-tables
          - mdformat-toc
          - mdformat-web
          - mdformat-wikilink
  - repo: https://github.com/pappasam/toml-sort
    rev: 8c5db1c8081310adb476e1661c4d5d1fb6dbd96e  # frozen: v0.24.3
    hooks:
      - id: toml-sort-fix
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        pass_filenames: true
        args: [-sn]
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        pass_filenames: false
      - id: pyright-verifytypes
        name: pyright-verifytypes
        entry: pyright
        language: system
        files: ^src/
        types: [python]
        pass_filenames: false
        args: [--verifytypes, tm_devices, --ignoreexternal]
      - id: pyroma
        name: pyroma
        entry: pyroma
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
        args: [., --min=10]
      - id: poetry-lock
        name: poetry-lock
        entry: poetry lock
        language: system
        pass_filenames: false
        always_run: true
        files: ^(.*/)?(poetry\.lock|pyproject\.toml)$
      - id: poetry-audit
        name: poetry-audit
        entry: poetry audit
        language: system
        pass_filenames: false
        files: ^(.*/)?(poetry\.lock|pyproject\.toml)$
        always_run: true
        args: [--json, --ignore-code=CVE-2019-8341]
      - id: poetry-check
        name: poetry-check
        entry: poetry check
        language: system
        pass_filenames: false
        files: ^(.*/)?(poetry\.lock|pyproject\.toml)$
#        args: [--strict]  # TODO: enable this when poetry can be updated to v2+
      - id: check-tm-devices-schema-file
        name: check-tm-devices-schema-file
        entry: python
        language: system
        types: [python]
        pass_filenames: false
        args: [scripts/generate_schema.py]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 9c89adb347f6b973f4905a4be0051eb2ecf85dea  # frozen: v0.13.3
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  - repo: https://github.com/PyCQA/docformatter
    rev: e73b8ba0c1316be565983236c72e653ad44e6b66  # frozen: v1.7.7
    hooks:
      - id: docformatter
        additional_dependencies: [tomli]
