{% extends "_base/class.html.jinja" %}
        {% block inheritance_diagram %}
          {#- Inheritance diagram block.

          This block renders the inheritance diagram for the class,
          using Mermaid syntax and a bit of JavaScript to make the nodes clickable,
          linking to the corresponding class documentation.
          -#}
          {% if config.show_inheritance_diagram and class.bases %}
            {% macro edges(class) %}
              {% for base in class.resolved_bases %}
                {{ base.path }} --> {{ class.path }}
                {{ edges(base) }}
              {% endfor %}
            {% endmacro %}
            <div style="display: none">
              <autoref identifier="{{ class.path }}" optional id="mermaid-link-{{ class.path }}"></autoref>
                {% for base in class.mro() %}
                  <autoref identifier="{{ base.path }}" optional id="mermaid-link-{{ base.path }}"></autoref>
                {% endfor %}
            </div>
            <div class="mermaid" id="mermaid-diagram-{{ class.path }}">
              flowchart LR
              {{ class.path }}[{{ class.name }}]
              {% for base in class.mro() %}
              {{ base.path }}[{{ base.name }}]
              {% endfor %}

              {{ edges(class) | safe }}

              click {{ class.path }} href "" "{{ class.path }}"
              {% for base in class.mro() %}
              click {{ base.path }} href "" "{{ base.path }}"
              {% endfor %}
            </div>
            <!--suppress ES6ConvertVarToLetConst -->
              <script>
              var diagram = document.getElementById('mermaid-diagram-{{ class.path }}');
              diagram.innerHTML = diagram.innerHTML.replace(/click ([\w.]+) href "" "\1"/g, function(match, nodeID, offset) {
                try {
                  const link = document.getElementById("mermaid-link-" + nodeID).href;
                  return `click ${nodeID} href "${link}" "${nodeID}"`
                } catch (e) {
                  return '';
                }
              });
            </script>
          {% endif %}
        {% endblock inheritance_diagram %}
