graphviz
jinja2
myst-parser
sphinx
sphinx-autoapi
sphinx-copybutton
sphinx-rtd-theme
sphinx-tippy
sphinx-togglebutton
sphinx-typo3-theme
sphinxcontrib-jquery
sphinxcontrib-mermaid
sphinxcontrib-relative-link-corrector
urllib3
