.custom-table-center-cells td, .custom-table-center-cells th {
    text-align: center;
    white-space: nowrap !important;
}
.rst-content table.device-support-table.docutils thead {
    vertical-align: middle;
    .line-block {
      margin-bottom: 0px;
    }
}
.device-support-table thead, .device-support-table tbody {
    border: 2px solid black
}
.rst-content table.device-support-table.docutils tbody tr:has(th p)
{
    border-top-width: 2px;
    border-top-color: black;
    border-top-style: solid;
}
.device-support-table tbody td[rowspan]
{
   background-color: transparent !important;
}

/** No icon for admonitions with no-icon class */
div.admonition.no-icon > .admonition-title::before {
    content: "";
}
div.admonition.no-icon > .admonition-title {
    padding-left: .6rem;
}

/** Modify class that enables auto-wrap in tables */
.custom-badge-table tbody td, .custom-badge-table tbody th, .custom-badge-table tbody td>p {
    white-space: inherit;
    line-height: 1.5rem !important;
}

/** Fix admonition symbols */
div.hint.admonition > .admonition-title::before {
    content: "\f0eb";
}
div.note.admonition > .admonition-title::before {
    content: "\f05a";
}

/** Fix Tippy pop-up colors */
.tippy-box {
    min-width: fit-content;
    background-color: white;
    color: black;
    border: 1px solid black;
}

/** Format list pop-ups */
.tippy-content ul {
    margin-left: 20px;
}
.tippy-content li {
    list-style-type: circle;
}
.tippy-content li > p {
    margin: 1px 0;
}

/** Format glossary pop-ups */
.tippy-content dt {
    text-align: left;
    font-weight: bolder;
}
.tippy-content dd {
    text-align: left;
    font-weight: normal;
    margin-left: 20px;
}

/** Customize the API reference */
span.apisummarylabel {
    background-color: lightslategray;
    color: black;
    font-size: 70%;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 3px;
    vertical-align: 15%;
    padding-bottom: 2px;
    filter: opacity(40%);
}
table.apisummarytable {
    width: 100%;
}
