.custom-table-center-cells td, .custom-table-center-cells th {
    text-align: center;
    white-space: nowrap !important;
}

.rst-content table.device-support-table.docutils thead {
    vertical-align: middle;

    .line-block {
        margin-bottom: 0;
    }
}

.device-support-table thead, .device-support-table tbody {
    border: 2px solid black
}

.device-support-table tr:has(td:first-child p:not(:empty)),
.device-support-table tr:has(td:first-child p:not(:empty)) {
    border-top-width: 2px;
    border-top-color: black;
    border-top-style: solid;
}

.device-support-table tbody td[rowspan] {
    background-color: transparent !important;
}

.device-support-table table td:first-child,
.device-support-table table th:first-child {
    font-weight: bolder;
    background-color: transparent !important;
}

.device-support-table table td:first-child,
.device-support-table table th:first-child {
    font-weight: bolder;
    background-color: transparent !important;
}

.device-support-table table {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

/** Styling for custom table titles */
.custom-table-title p {
    text-align: center;
    font-size: 0.9em;
    margin-bottom: 0;
}

.device-support-table table {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

/** Styling for custom table titles */
.custom-table-title p {
    text-align: center;
    font-size: 0.9em;
    margin-bottom: 0;
}

/** No icon for admonitions with no-icon class */
div.admonition.no-icon > .admonition-title::before {
    content: "";
}

div.admonition.no-icon > .admonition-title {
    padding-left: .6rem;
}

/** Modify the custom badge table */
.custom-badge-table tbody td, .custom-badge-table tbody th, .custom-badge-table tbody td > p {
    white-space: inherit;
    line-height: 1.5rem !important;
}

.custom-badge-table thead {
    display: none;
}

.custom-badge-table table td:first-child,
.custom-badge-table table th:first-child {
    text-align: center;
    background-color: transparent !important;
}

.custom-badge-table thead {
    display: none;
}

.custom-badge-table table td:first-child,
.custom-badge-table table th:first-child {
    text-align: center;
    background-color: transparent !important;
}

/** Fix admonition symbols */
div.hint.admonition > .admonition-title::before {
    content: "\f0eb";
}

div.note.admonition > .admonition-title::before {
    content: "\f05a";
}

/** Fix Tippy pop-up colors */
.tippy-box {
    min-width: fit-content;
    background-color: white;
    color: black;
    border: 1px solid black;
}

/** Format list pop-ups */
.tippy-content ul {
    margin-left: 20px;
}

.tippy-content li {
    list-style-type: circle;
}

.tippy-content li > p {
    margin: 1px 0;
}

/** Format glossary pop-ups */
.tippy-content dt {
    text-align: left;
    font-weight: bolder;
}

.tippy-content dd {
    text-align: left;
    font-weight: normal;
    margin-left: 20px;
}

/** Customize the API reference */
span.apisummarylabel {
    background-color: lightslategray;
    color: black;
    font-size: 70%;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 3px;
    vertical-align: 15%;
    padding-bottom: 2px;
    filter: opacity(40%);
}

table.apisummarytable {
    width: 100%;
}

/* Make content width wider */
.wy-nav-content {
    max-width: 60% !important;
}
