---
name: Package Build
on:
  push:
    branches: [main]
    tags: ['*']
  pull_request:
    branches: [main]
# Cancel running jobs for the same workflow and branch.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}
jobs:
  package-build:
    uses: tektronix/python-package-ci-cd/.github/workflows/_reusable-package-build.yml@v1.8.5
    with:
      package-name: tm_devices
      python-versions-array: '["3.10", "3.11", "3.12", "3.13", "3.14"]'  # when updating this, make sure to update all workflows that use this strategy  # PYTHON VERSION MARKER
      operating-systems-array: '["ubuntu", "windows", "macos"]'
    permissions:
      contents: read
      id-token: write
      attestations: write
