---
name: Publish Test Results
on:
  workflow_run:
    workflows: [Test code]
    types: [completed]
jobs:
  publish-test-results:
    uses: tektronix/python-package-ci-cd/.github/workflows/_reusable-publish-test-results.yml@v1.8.5
    with:
      operating-systems-array: '["ubuntu", "windows", "macos"]'
    permissions:
      checks: write
      pull-requests: write
