---
name: Test code
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}
jobs:
  test-code:
    uses: tektronix/python-package-ci-cd/.github/workflows/_reusable-test-code.yml@v1.7.4
    with:
      repo-name: tektronix/tm_devices
      operating-systems-array: '["ubuntu", "windows", "macos"]'
      # TODO: revert back to just "3.13" once the issue with building on 3.13.4 is resolved
      python-versions-array: '["3.9", "3.10", "3.11", "3.12", "3.13.3"]'  # when updating this, make sure to update all workflows that use this strategy
      upload-to-codecov: true
      enable-retry-os-array: '["macos"]'
    secrets:
      codecov-token: ${{ secrets.CODECOV_TOKEN }}
