---
name: Update python linting dependencies in-sync with pre-commit
on:
  pull_request:
    branches: [main]
jobs:
  update-python-and-pre-commit-dependencies:
    if: ${{ github.actor == 'dependabot[bot]' && contains(github.head_ref, '/pip/') }}
    uses: tektronix/python-package-ci-cd/.github/workflows/_reusable-update-python-and-pre-commit-dependencies.yml@v1.8.0
    with:
      commit-user-name: ${{ vars.TEK_OPENSOURCE_NAME }}
      commit-user-email: ${{ vars.TEK_OPENSOURCE_EMAIL }}
      dependency-dict: '{"tests": ["ruff"]}'
      update-pre-commit: true
      run-pre-commit: true
      pre-commit-hook-skip-list: pylint,pyright,pyright-verifytypes,pyroma,poetry-lock,poetry-audit,poetry-check,check-tm-devices-schema-file
      pre-commit-repo-update-skip-list: ''
      export-dependency-groups: docs,tests
    permissions:
      contents: write
    secrets:
      checkout-token: ${{ secrets.TEK_OPENSOURCE_TOKEN }}
      gpg-signing-key-private: ${{ secrets.TEK_OPENSOURCE_GPG_SIGNING_KEY_PRIVATE }}
      gpg-signing-key-passphrase: ${{ secrets.TEK_OPENSOURCE_GPG_SIGNING_KEY_PASSPHRASE }}
