{%- import ".macros.j2" as macros %}

{%- call(output) macros.populate_variables() %}
    {%- filter replace("## Unreleased", "# " + output[0] + " (" + output[1] + ")" + output[2])|replace("##", "#") %}
        {%- filter replace("Things to be included in the next release go here.\n\n", "") %}
            {%- include ".previous_release_notes_for_template.md" %}
        {%- endfilter %}
    {%- endfilter %}
{% endcall %}
