{%- import ".macros.j2" as macros %}

{%- call(output) macros.populate_variables() %}
    {%-  filter replace("Things to be included in the next release go here.", "Things to be included in the next release go here.\n\n---\n\n## " + output[0] + " (" + output[1] + ")" + output[2]) %}
        {%-  include ".previous_changelog_for_template.md" %}
    {%- endfilter %}
{% endcall %}
