{%- import ".macros.j2" as macros %}

{%- call(output) macros.populate_variables() %}
    {%- filter replace("## Unreleased", "## Unreleased\n\nThings to be included in the next release go here.\n\n---\n\n## " + output[0] + " (" + output[1] + ")" + output[2]) %}
        {%- filter replace("Things to be included in the next release go here.\n\n", "") %}
            {%- include ".previous_changelog_for_template.md" %}
        {%- endfilter %}
    {%- endfilter %}
{% endcall %}
